{{ define "home" }}
<!doctype html>
<html>
	<head>
		<title>Stock Management System</title>
    <meta charset="UTF-8" />
	</head>
	<body>
		<a href="/addItem">Add Item</a> 
        <a href="/removeItem">Remove Item</a>
        <a href="/editItem">Edit Item</a>
        <a href="/deleteItem">Delete Item</a>
        <br><br>
        <a href="/addCategory">Add Category</a>
        <a href="/removeCategory">Remove Category</a>
        <a href="/editCategory">Edit Category</a>
        <a href="/deleteCategory">Delete Category</a>
        <br><br>
        <a href="/addIncoming">Add Incoming</a>
        <a href="/addOutgoing">Add Outgoing</a>
        <a href="/editHistory">Edit History</a>
	</body>
</html>
{{ end }}