{{ define "IncomingStock" }}
<!doctype html>
<html>
	<head>
		<title>Stock Management System</title>
    <meta charset="UTF-8" />
	</head>
	<body>
		<h1>Add Incomings</h1>
		<form action="/addIncoming" method="POST">
			Item
			<select name="item_id">
				{{ range . }}
					<option value="{{ .Id }}">{{ .Name }}</option>
				{{ end }}
			</select><br>
			Quantity <input type="number"><br>
			Details <input type="text"><br>
			<input type="submit">
		</form>
	</body>
</html>
{{ end }}